@import url("https://fonts.googleapis.com/css?family=Lora|Raleway:900");
body {
  cursor: default;
  margin: 0;
  font-family: "Lora", sans-serif;
  font-size: 2rem;
  color: #121212; }

div:empty {
  display: block; }

strong,
b {
  font-family: "Raleway", sans-serif; }

.h1 {
  font-family: "Raleway", sans-serif;
  font-size: 7rem;
  font-weight: 700;
  color: #121212; }

.has-margin-1 {
  margin: 0.5rem; }

.has-margin-2 {
  margin: 1rem; }

.has-margin-3 {
  margin: 1.5rem; }

.has-margin-4 {
  margin: 2rem; }

.has-margin-5 {
  margin: 2.5rem; }

.has-padding-1 {
  padding: 0.5rem; }

.has-padding-2 {
  padding: 1rem; }

.has-padding-3 {
  padding: 1.5rem; }

.has-padding-4 {
  padding: 2rem; }

.has-padding-5 {
  padding: 2.5rem; }

table {
  border: 0.3rem solid #121212;
  background: #FFFFFF;
  border-spacing: 0; }
  table td,
  table tr {
    border: 0.3rem solid #121212; }

.container1 {
  display: block;
  margin: 0;
  padding: 5rem;
  background-color: #f0e48e; }
  .container1 .introduction {
    position: relative;
    z-index: 5; }
    .container1 .introduction .rectangle {
      display: block;
      min-height: 3rem;
      background: #A3D9D3;
      border-style: solid;
      border-color: #FFFFFF;
      border-width: .5rem 0 0 .5rem;
      color: #A3D9D3; }
    .container1 .introduction .diag-lines {
      background-repeat: repeat;
      background-position: top left;
      background-image: url("../../images/pattern-diagonal_lines.png");
      min-height: 3rem; }

.container2 {
  display: block;
  margin: 0;
  padding: 5rem;
  background: #A3D9D3; }
  .container2 .circles {
    background-repeat: repeat;
    background-position: top left; }
