@charset "utf-8";

@import './partials/_variables';

@import '../../../../node_modules/bulma/sass/utilities/_all.sass';
// @import '../../../../node_modules/bulma/sass/base/_all.sass';
@import '../../../../node_modules/bulma/sass/grid/_all.sass';

body {
  cursor: default;
  font-family: $font-body;
  color: $black;
  background-color: $grey;
}