@charset "utf-8";

@import './partials/_mixins';
@import './partials/_variables';

// @import '../../../../node_modules/bulma/sass/utilities/_all.sass';
// @import '../../../../node_modules/bulma/sass/grid/_all.sass';
// @import '../../../../node_modules/bulma/sass/utilities/initial-variables.sass';
// @import '../../../../node_modules/bulma/sass/utilities/mixins.sass';

.has-background-black {
  background: $black;
}

.has-background-primary {
  background: $primary;
}

.has-background-secondary {
  background: $secondary;
}

@import './modules/desktop.scss';
@import './modules/mobile.scss';